<a href="https://colab.research.google.com/github/vishalrshukla/Learnings/blob/master/Panda%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
titles = pd.read_csv('/content/drive/My Drive/Python Assignment/Arshad Assignment/Assingment 1/Dataset for Pandas Assinment/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

How many movies are listed in the titles dataframe?

In [ ]:
titles.title.count()

244914

### What are the earliest two films listed in the titles dataframe?

In [ ]:
titles.sort_values(by='year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### When was the first movie titled "Hamlet" made?

In [ ]:
titles.query('title=="Hamlet"').min()

title    Hamlet
year       1910
dtype: object

### List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
titles.query('title=="Treasure Island"').sort_values(by='year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [ ]:
print('Total Movies made in Year 1950 : '+str(titles.query('year==1950').title.count()))

Total Movies made in Year 1950 : 1113

### How many movies were made in the year 1960?

In [ ]:
print('Total Movies made in Year 1960 : '+str(titles.query('year==1960').title.count()))

Total Movies made in Year 1960 : 1549

### How many movies were made from 1950 through 1959?

In [ ]:
print('Total Movies made from 1950 through 1959? : '+str(titles.query('year > 1950 & year <= 1959').title.count()))

Total Movies made from 1950 through 1959? : 11821

### In what years has a movie titled "Batman" been released?

In [ ]:
titles.query('title=="Batman"').year

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [ ]:
cast = pd.read_csv('/content/drive/My Drive/Python Assignment/Arshad Assignment/Assingment 1/Dataset for Pandas Assinment/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [ ]:
%load_ext google.colab.data_table
inceptionCast=cast.query('title== "Inception"')
inceptionCast['character'].count()

78

In [ ]:
## Geeting Roles data

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
print('Role Ranked : '+str(inceptionCast[inceptionCast.n.notnull()]['character'].count()))
print('Role not Ranked : '+str(inceptionCast[inceptionCast.n.isna()]['character'].count()))

Role Ranked : 51
Role not Ranked : 27

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
%load_ext google.colab.data_table
NbNcast=cast.query('title== "North by Northwest"')

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

In [ ]:
NbNcast[NbNcast.n.notna()]
NbNcast.sort_values(by='n')[NbNcast.n.notna()]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                      title  year  ...                    character     n
871426   North by Northwest  1959  ...           Roger O. Thornhill   1.0
3518333  North by Northwest  1959  ...                  Eve Kendall   2.0
1457165  North by Northwest  1959  ...              Phillip Vandamm   3.0
3157232  North by Northwest  1959  ...              Clara Thornhill   4.0
356707   North by Northwest  1959  ...                The Professor   5.0
3048272  North by Northwest  1959  ...                Mrs. Townsend   6.0
1695173  North by Northwest  1959  ...              Lester Townsend   7.0
1275337  North by Northwest  1959  ...                      Leonard   8.0
2447081  North by Northwest  1959  ...                     Valerian   9.0
1811387  North by Northwest  1959  ...              Victor Larrabee  10.0
665768   North by Northwest  1959  ...                        Licht  11.0
2295714  North by Northwest  1959  ...                   Auctioneer  12.0
464736   North by Northwest  1959  ...                    Dr. Cross  13.0
1508344  North by Northwest  1959  ...               Sergeant Flamm  14.0
206471   North by Northwest  1959  ...               Captain Junket  15.0
1384780  North by Northwest  1959  ...  Charley - Chicago Policeman  16.0

[16 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [ ]:
Sleuth1972cast=cast.query('title== "Sleuth" & year==1972')
Sleuth1972cast.sort_values(by='n')

          title  year  ...                   character    n
1705394  Sleuth  1972  ...                 Andrew Wyke  1.0
326773   Sleuth  1972  ...                 Milo Tindle  2.0
373876   Sleuth  1972  ...           Inspector Doppler  3.0
1465483  Sleuth  1972  ...  Detective Sergeant Tarrant  4.0
2724553  Sleuth  1972  ...             Marguerite Wyke  5.0
1448690  Sleuth  1972  ...      Police Constable Higgs  6.0

[6 rows x 6 columns]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
Sleuth2007cast=cast.query('title== "Sleuth" & year==2007')
Sleuth2007cast.sort_values(by='n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
Hamlet1921cast=cast.query('title== "Hamlet" & year==1921')
print("Number of Roles "+str(Hamlet1921cast['character'].count()))

Number of Roles 9

### How many roles were credited in Branaghs 1996 Hamlet?

In [ ]:
Hamlet1996cast=cast.query('title== "Hamlet" & year==1996')
Hamlet1996cast[Hamlet1996cast['character'] == "Hamlet"]['n']

260225    5.0
Name: n, dtype: float64

### How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
cast.query('character== "Hamlet"')["character"].count()

96

### How many people have played an "Ophelia","The Dude","The Stranger"?

In [ ]:
print("How many people Ophelia:" + str(cast.query('character== "Ophelia"')["name"].count()))
print("How many people The Dude:" + str(cast.query('character== "The Dude"')["name"].count()))
print("How many people The Stranger:" + str(cast.query('character== "The Stranger"')["name"].count()))

How many people Ophelia:117
How many people The Dude:19
How many people The Stranger:212

### How many roles has Sidney Poitier & Judi Dench played throughout his career?

In [ ]:
print("Sidney Poitier played :" + str(cast.query('name== "Sidney Poitier"')["character"].count()) + " Roles")
print("Judi Dench played :" + str(cast.query('name== "Judi Dench"')["character"].count()) + " Roles")

Sidney Poitier played :43 Roles
Judi Dench played :55 Roles

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
cast.query('name== "Cary Grant" & year>=1940 & year<=1949 &  n==2').sort_values(by='year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### How many roles were available for actors & actresses in the 1950s?

In [ ]:
RoleCountDF = pd.DataFrame({"actor": [cast.query('year>=1950 & year<=1959 &  type== "actor"')["character"].count()],"actresses": [cast.query('year>=1950 & year<=1959 &  type== "actress"')["character"].count()]})
RoleCountDF

    actor  actresses
0  157738      57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
cast.query('year<1980 &  n==1')["character"].count()

63957

### How many non-leading roles were available through from the beginning of film history through 1980?

In [ ]:
cast.query('year<1980 &  n!=1')["character"].count()

1095378

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [ ]:
cast[cast.n.notna()]["character"].count()

2327603